<br /><br />
<div class="main admin-login">
    <h1>ADMIN SIGNIN</h1>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="text" [(ngModel)]="email" placeholder="Email">
    </div>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <br />
    <div>
        <button (click)="signIn()" mat-raised-button color="primary">Sign In</button>
    </div>
</div>