

<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="menu-section-heading">Explore Products</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
            <div class="shadow menu-item-card p-3 mb-3">
                <img src="../../../assets/images/wines.jpg" class="menu-item-image w-100" />
                <h1 class="menu-card-title">Wines</h1>
            </div>

        </div>

        <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
              <img src="../../../assets/images/beer.jpg" class="menu-item-image w-100" />
              <h1 class="menu-card-title">Beer</h1>
          </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/images/whiskey.jpg" class="menu-item-image w-100" />
            <h1 class="menu-card-title">Whiskey</h1>
        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
      <div class="shadow menu-item-card p-3 mb-3">
          <img src="../../../assets/images/rum.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Rum</h1>

      </div>

  </div>


<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
  <div class="shadow menu-item-card p-3 mb-3">
      <img src="../../../assets/images/vodka.jpg" class="menu-item-image w-100" />
      <h1 class="menu-card-title">Vodka</h1>
  </div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
    <img src="../../../assets/images/scotch.jpg" class="menu-item-image w-100" />
    <h1 class="menu-card-title">Scotch</h1>
</div>

</div>

<div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
<div class="shadow menu-item-card p-3 mb-3">
  <img src="../../../assets/images/beverage.jpg" class="menu-item-image w-100" />
  <h1 class="menu-card-title">Beverages</h1>
</div>

</div>
</div>

</div>
</div>

<div class="footer-section pt-5 pb-5">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <img src="../../../assets/images/shop.jpg" class="wine-logo" />
              <h1 class="footer-section-mail-id"></h1>
              <p class="footer-section-address">
             Wine Shop, Near BabuBhai Pump ,Thane(westan) 
              </p>
          </div>
      </div>
  </div>
</div>