<br /><br />
<div class="payment-tab">
<div class="centered">
  <h1>Payment</h1>
</div>
<br />
<div class="centered">
  <table>
    <tr>
      <td>Total Price</td>
      <td><input type="text" disabled [(ngModel)]="totalPrice" /></td>
    </tr>
    <tr>
      <td> Address <mat-icon (click)="openMap()"> location_on</mat-icon> </td>
      <td><textarea disabled [value]="customer?.address" ></textarea></td>
    </tr>
    <tr>
      <td>NameOnCard</td>
      <td><input type="text"  [(ngModel)]="nameOnCard" /></td>
    </tr>
    <tr>
      <td>CardNumber</td>
      <td><input type="text"  [(ngModel)]="cardNumber" /></td>
    </tr>
    <tr>
      <td>Expyear</td>
      <td><input type="text"  [(ngModel)]="expYear" /></td>
    </tr>
    <tr>
      <td>CVV</td>
      <td><input type="text"  [(ngModel)]="cvv" /></td>
    </tr>
    <!-- <tr>
      <td>PaidDate</td>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="setPaidDate($event)"
          >
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      </td>
    </tr> -->
    <tr>
      <td>Discount</td>
      <td><input type="text"  [(ngModel)]="discount" disabled /></td>
    </tr>
    <tr>
      <td>PaidAmount</td>
      <td><input type="text"  [(ngModel)]="tot" disabled /></td>
    </tr>
  </table>
</div>
<br />
<div class="centered">
  <button (click)="onPayment()" mat-raised-button color="primary">Submit</button>
</div>
</div>
