
<div class="header"><app-app-header *ngIf="!isLoggedIn && !isAdminLoggedIn"></app-app-header>
<app-admin-header *ngIf="!isLoggedIn && isAdminLoggedIn"></app-admin-header>
<app-customer-header *ngIf="isLoggedIn && !isAdminLoggedIn"></app-customer-header>
</div>
<div class="mainroute"> 
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
  <footer>
      <div class="footer-box">
  
      </div>
      <div class="clearfix"></div>
  </footer>
  
   <!-- Adding Copyright 
   <div class="copy">
      <p> <b> Copyright &copy; 2023 &#x2758; Design & Developed &#x2764; by E Zone. </b></p>
  </div>
  </div>  -->